export APP=wordpress

export DOMAIN=wordpress.example.com
## Domain aliases
#export EXTRA_DOMAINS=', `www.wordpress.example.com`'
export LETS_ENCRYPT_ENV=production

## Additional extensions
#export PHP_EXTENSIONS="calendar"

export SECRET_DB_ROOT_PASSWORD_VERSION=v1
export SECRET_DB_PASSWORD_VERSION=v1
export PHP_UPLOADS_CONF_VERSION=v1
export ENTRYPOINT_CONF_VERSION=v1

# Multisite
#export WORDPRESS_CONFIG_EXTRA="\
#	define('WP_CACHE', false);\
#	define('WP_ALLOW_MULTISITE', true );"

# Multisite phase 2 (see README)
#export WORDPRESS_CONFIG_EXTRA="\
#	define('WP_CACHE', false);\
#	define('WP_ALLOW_MULTISITE', true );\
#	define('MULTISITE', true);\
#	define('SUBDOMAIN_INSTALL', true);\
#	define('DOMAIN_CURRENT_SITE', '${DOMAIN}');\
#	define('PATH_CURRENT_SITE', '/');\
#	define('SITE_ID_CURRENT_SITE', 1);\
#	define('BLOG_ID_CURRENT_SITE', 1);\
#	define('FORCE_SSL_ADMIN', true );\
#	define('COOKIE_DOMAIN', \$_SERVER['HTTP_HOST']);"

# Backups
#export COMPOSE_FILE="compose.yml:compose.backup.yml"

# SMTP
#export COMPOSE_FILE="compose.yml:compose.mailrelay.yml"
#export SMTP_HOST="postfix_relay_app"
#export MAIL_FROM="wordpress@example.com"
#
#export MSMTP_CONF_VERSION=v1
#export ENTRYPOINT_MAILRELAY_CONF_VERSION=v1
